<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Interaction Designer Intern</h1>
            <span><address>Neusoft, Shenyang, China</address><time>September 2015</time></span>
        </header>
        <p>
            <ul>
                <li>Improved user interface for hospital information system.</li>
                <li>Attended company-wide user experience design drill.</li>
                <li>Translated and proofread requirement documents from clients.</li>
                <li>Created high fidelity prototypes for laboratory information system.</li>
            </ul>
        </p>
    </article>
    <article>
        <header>
            <h1>User Interface Designer Intern</h1>
            <span><address>Beijing ZZNode Technology Corp., Shanghai, China</address><time>June 2014 to August 2014</time></span>
        </header>
        <p>
            <ul>
                <li>Participated in product management team’s discussion on user requirements.</li>
                <li>Assisted in designing the UI of the mobile application on Android and iOS.</li>
                <li>Communicated with the software development team on the designs at a developer level. Discussions included heavy talks on implementations.</li>
                <li>Studied the project structure and logistics of Android applications on the way.</li>
            </ul>
        </p>
    </article>
    <article>
        <header>
            <h1>Software Engineer Intern</h1>
            <span><address>Hebei Bojian Science & Technology CO. LTD., Shijiazhuang, China</address><time>June 2013 to August 2013</time></span>
        </header>
        <p>
            <ul>
                <li>Redesigned the web UI and the desktop client UI for a health informatics management system.</li>
                <li>Contributed some suggestions on backend code logistics written in Java to increase code efficiency.</li>
                <li>Introduced modern programming languages to the developers.</li>
            </ul>
        </p>
    </article>
    <article>
        <header>
            <h1>Marketing Intern</h1>
            <span><address>GE Healthcare, Beijing, China</address><time>June 2012 to August 2012</time></span>
        </header>
        <p>
            <ul>
                <li>Assisted in event planning.</li>
                <li>Organized event database.</li>
                <li>Composed legal notice for employees to review.</li>
                <li>Studied about company branding on the way.</li>
            </ul>
        </p>
    </article>
    <article>
        <header>
            <h1>Sales Intern</h1>
            <span><address>GE Healthcare, Beijing, China</address><time>July 2011 to August 2011</time></span>
        </header>
        <p>
            <ul>
                <li>Collected bidding information of major hospitals in northern China.</li>
                <li>Analyzed competitors’ new products.</li>
                <li>Attended sales training meetings to learn how to convince customers.</li>
                <li>Designed event and product posters for internal uses.</li>
            </ul>
        </p>
    </article>
</section>
