<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/alew104/UW-Visual-DARS">UW Visual DARS</a></strong>
			- A visualized version of University of Washington's degree audit report system. Powered by AngularJS.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/shicechi/uwcourseplanner">UW Course Planner</a></strong>
			- A schedule planner and course API for UW students. Only interaction design major is supported so far. Powered by Django.
		</h5>
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/fightingfish18/IvoryTowers">Ivory Towers</a></strong>
			- An iOS application for searching and reviewing locations on the University of Washington Seattle campus, written in Swift.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/shicechi/enAvis">enAvis</a></strong>
			- An interactive visualization web application that exhibits admission statistics of University of Washington's College of Engineering over a 10-year period, written in Python.
	 	</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/shicechi/police-shooting">Police Shooting Data Visualization</a></strong>
			- An interactive map that shows crowdsourced police shooting data, powered by Leaflet.js.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/shicechi/spotify-challenge">Spotify Playlist Generator</a></strong>
			- A web application that encodes your words into a Spotify playable playlist.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="http://dubsgram.appspot.com/">Dubsgram</a></strong>
			- A web application that displays real-time Instagram media uploads around University of Washington campus, written in Python.
		</h5>

    </div>
  </div>
</div>
</section>
