<section class="thirteen columns">
    <h1>Skills</h1>
    <article>
        <header>
            <h1>Software engineering & web development</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>HTML/CSS3</em> &amp; <em>Javascript</em>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Java</em>, <em>Python</em>, <em>PHP</em> &amp; <em>Git</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Swift</em> &amp; <em>Xcode</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Designing & prototyping</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Axure</em> &amp; <em>Balsamiq</em>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Photoshop</em>, <em>Illustrator</em> &amp; <em>Sketch</em>
        </p>
    </article>
    <article>
        <header>
            <h1>User researching</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Interview protocol development</em> &amp; <em>compilation</em>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Survey tools</em>
        </p>
    </article>
</section>